# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/out-tsc/
**/.angular/cache/

# Logs
**/*.log
**/npm-debug.log*

# Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.history/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Local DB / cache
*.sqlite
*.sqlite-journal
*.db

# Vercel
.vercel/
